//import de mixin
@import "../utilidades/mixin";

/* estilo de contactanos*/
.contacto {
    text-align: center;
    margin-top: 0.5rem;

    .telefono {
        background-color: $color-principal;
        color: $color-general;
    }

    .gmail {
        background-color: $color-principal;
        color: $color-general;
    }

    .ubicacion {
        margin-top: 6rem;
    }

    .horarios {
        margin: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .horarios span {
        display: block;
    }
    
    .table{ 
        height: 50vh;
        height: 10%;
        width: 100%;
        background-color: $color-detalles-dos;
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
}