//import de mixin
@import "../utilidades/mixin";


/*estilos de botones*/
.boton {
    nav {
        ul {
            list-style: none;

            li {
                .boton {
                    @include padding-margin (1rem, 1rem);
                    color: $color-general;
                    display: block;
                    margin: auto;
                    background-color: $color-detalles;
                }

                .boton-dos {
                    background-color: $color-detalles;
                    @include padding-margin (1rem, 5rem);
                    color: $color-general;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}

/*estilos de header*/
header {
    .navbar {
        background-color: $color-principal;

        .navbar-toggler {
            background-color: $color-detalles;
        }

        .collapse {
            background-color: $color-principal;
        }
        ul {
            li {
                .boton-active:active {
                    background-color: $color-detalles-dos;
                }

                .boton-active:hover {
                    background-color: $color-detalles;
                }

            }
        }
    }

    p {
        background-color: $color-general;
        color: whitesmoke;
        text-align: center;
        padding: 1rem;
    }
}

/*estilos de main*/
.main-inicio {
    height: 80vh;

    div {
        .banner-mobile {
            @include medidas (100%, 100%);
            object-fit: cover;
        }

    }

    .grid-banner-uno,
    .grid-banner-dos,
    .grid-banner-tres {
        display: none;
    }

    h1 {
        text-align: center;
        margin-top: 1rem;
        padding: 2rem;
        background-color: $color-general;
        color: $color-principal;
    }

    .grid-principal {
        @include grid (grid, repeat(3, 1fr), 45% 45%);

        .grid-banner-uno,
        .grid-banner-dos,
        .grid-banner-tres {
            height: 60%;
            width: 100%;
            object-fit: cover;
        }

        .grid-banner-uno,
        .grid-banner-dos,
        .grid-banner-tres {
            grid-row: span 2;
        }
    }
}

/*estilos de section*/
.productos-destacados {
    margin-top: 30%;
    margin-bottom: 20%;

    .figure-div {
        .figure {
            animation-duration: 1s;
            max-width: 100%;
            display: block;
            margin: auto;
        }

    }

    .figure-caption {
        text-align: center;

        span {
            display: block;
        }
    }

    .nuevos-ingresos {
        animation-duration: 2s;
        text-align: center;
        margin-top: 5rem;
        padding: 2rem;
        background-color: $color-general;
        color: $color-principal;
    }

    .carousel {
        margin-top: 4rem;

        .carousel-img {
            display: block;
            margin: auto;
            height: 70%;
            width: 70%;
        }
    }
}