//import de mixin
@import "../utilidades/mixin";

/*estilos de desktop*/
@media screen and (min-width:1024px) {

    /*estilos de main*/

    .main-inicio {
        height: 100vh;

        .banner-mobile {
            display: none;
        }

        .grid-principal {
            gap: 0.5rem;

            .grid-banner-uno,
            .grid-banner-dos,
            .grid-banner-tres {
                display: block;
            }
        }
    }
}

/*estilos de section*/
.productos-destacados {
    margin-top: 30%;
    margin-bottom: 20%;

    .figure-div {
        .figure {
            width: 100%;
            max-width: 550px;
            height: auto;
        }
    }

    .figure-caption {
        text-align: center;

        span {
            display: block;
        }
    }

    .nuevos-ingresos {
        text-align: center;
        margin-top: 5rem;
        padding: 2rem;
        background-color: $color-general;
        color: $color-principal;
    }

    .carousel {
        margin-top: 4rem;

        .carousel-img {
            width: 100%;
            max-width: 600px;
            height: auto;
        }
    }
}

/*estilos de productos*/
main {
    div {
        display: flex;
    }

    .ropa {
        img {
            @include medidas (30%, 32%);
            object-fit: cover;
            margin: auto;
            gap: 1rem;
            padding: 1rem;
        }

    }
}

/* estilo de contactanos*/
.contacto {
    text-align: center;
    height: 68vh;
    margin-top: 2rem;
}

/*estilos de medio de pago*/
.envios {
    height: 55vh;

    div {
        .img-medios {
            @include medidas (20%, 20%);
            object-fit: cover;
            display: block;
            margin: auto;
            margin-top: 2rem;
        }
    }
}

.medios-de-pago {

    .paga-como-quieras {
        text-align: center;
        background-color: $color-general;
        color: $color-principal;
        padding: 1rem;
        margin-top: 6rem
    }

    .div-pago {
        .tarjetas {
            @include medidas (70px, 70px);
            object-fit: cover;
            margin-top: 3rem;
        }
    }
}

/*estilos de botones*/
.boton {
    nav {
        ul {
            list-style: none;

            li {
                .boton-dos {
                    background-color: $color-principal;
                    @include padding-margin (1rem, 3rem);
                    color: $color-general;
                    display: block;
                    margin: auto;
                    margin-top: 30rem;
                }

                .boton {
                    background-color: $color-principal;
                    align-items: center;
                    margin-top: 15rem;
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}